

<header>
  <div class="container-header">
    <nav class="headnav">
        <button routerLink="/" class="btn btn-light" >HOME</button>
        <button routerLink="/about" class="btn btn-light">ABOUT</button>

        <button (click)="redirectFunc()" class="btn btn-light" id="redirectButton"><img src="https://github.com/chiaraferrara/StudioGhibli/blob/56946933e0f028998ef3a97e6adc07c49962933c/src/app/img/github.png?raw=true" style= "width: 50px;"></button>

    
    </nav>
  </div>
</header>


