footer {
    background-image: url("https://w.wallhaven.cc/full/0w/wallhaven-0wy2z7.jpg");
    background-position-y: 50%;
    clear: both;
    font-family: 'Nunito Sans';
    color: white;
    background-color: #009cf1;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, .25);
    height: 270px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
