footer {
    clear: both;
    margin-bottom: 0%;
    width: 100%;
    font-family: 'Nunito Sans';
    color: white;
    height: 178px;
    background-color: #009cf1;
    font-size: 20px;
    text-align: center;
}

.container-flex{
    display: flex;
    justify-content: space-around;
}