<article>
  <h2>La città incantata</h2>
  <p>
    <span class="img-container">
      <img
        class="previewpic"
        src="https://i.pinimg.com/564x/a7/7f/6c/a77f6ca42f0f44af5605624dc352ed7d.jpg"
        alt="La città incantata"
      />
    </span>
    Il film racconta la storia di Chihiro, una ragazzina che si ritrova
    catapultata in un mondo parallelo pieno di spiriti e creature magiche. Il
    povero papà di Chihiro è talmente goloso che decide di mangiare senza
    permesso nel ristorante dell'aldilà insieme alla madre, finendo così per
    trasformarsi in maiali. Chihiro, ovviamente, non sta con le mani in mano e
    cerca subito di trovare una soluzione per salvare il padre. Ma invece di
    essere aiutata, viene costretta a lavorare come lavapiatti in un hotel per
    spiriti gestito dalla terribile strega Yubaba.
  </p>
  <a
    class="button"
    href="https://it.wikipedia.org/wiki/La_citt%C3%A0_incantata"
    target="_blank"
    style="color: #222222"
  >
    Read More
  </a>

  <br /><br /><br /><br />
  <h2>Il mio vicino Totoro</h2>
  <p>
    <span class="img-container">
      <img
        class="previewpic"
        src="https://i.pinimg.com/564x/da/78/f3/da78f34206df5221b943fe93d0e2ebbd.jpg"
        alt="Tororo"
      />
    </span>
    Il film racconta la storia di due sorelline, Satsuki e Mei, che si
    trasferiscono in campagna con il padre per essere più vicine alla madre
    malata. Qui, le ragazze incontrano una serie di creature fantastiche, tra
    cui il famoso Totoro, un'enorme palla di pelo che sembra un ibrido tra un
    orso e un gatto. Totoro diventa subito l'amico immaginario delle sorelline e
    insieme vivono avventure strampalate e divertenti. Ci sono voli in ombrelli
    giganti, bagni in fiumi magici e visite alla foresta incantata, tutto
    accompagnato dalla colonna sonora orecchiabile del film. Ma non tutto è rose
    e fiori: la madre delle ragazze sta peggiorando e la famiglia è costretta ad
    affrontare momenti difficili. Anche Totoro sembra essere impegnato con i
    suoi affari, e in un momento di smarrimento delle bambine, si rivelerà un
    po' egoista. In sintesi, "Il mio vicino Totoro" è un film che celebra
    l'immaginazione infantile e la natura, ma che ci ricorda anche l'importanza
    della famiglia e della solidarietà in momenti difficili. E poi, diciamocelo,
    chi non vorrebbe avere un amico come Totoro, capace di risolvere tutti i
    problemi con un abbraccio e un sorriso?<br />
    <a
      class="button"
      href="https://it.wikipedia.org/wiki/Il_mio_vicino_Totoro"
      target="_blank"
      style="color: #222222"
    >
      Read More
    </a>
  </p>
</article>
