main{
    width: 100%;
    margin: auto;
}
div{
    text-align: center;
}
article {
    padding: 2%;
float: left;
width: 60%;
margin-left: 4%;

}

iframe{
    width: max-content;
}

.button{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none ;

}
h2{
    font-family: 'Josefin Sans', sans-serif;
}

.previewpic {
    margin: 0.1%;
    width: 6%;
    height: 6%;
    opacity: 50%;
    z-index: 999;
    float: left; 
}

.previewpic:hover {
    opacity: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .img-container{
    
    width: 10%;
    height: fit-content;
    margin: 1%;
  }

  @media screen and (max-width: 768px) {
    article{
        width: 100%;

    }

  }