<div class="sidebar" [ngClass]="{ open: isSidebarOpen }">
  <img
    src="https://github.com/chiaraferrara/StudioGhibli/blob/b5d753ab5b687e9f8659f8729d9d8fe4e32e11b3/src/app/img/studio-ghibli.jpeg?raw=true "
    style="
      width: 140px;
      height: 130px;
      border-radius: 100%;
      margin-top: 2%;
    "
  />
  <br />
  <div>
    <h1>Studio Ghibli</h1>
    <p>
        This project is intended <b>solely</b> for educational purposes. I'm in the process of recreating an older project using Angular as part of my learning journey.
    </p> <br>
    <div class="linksflex"><a href="https://angular.io/"><img src="https://github.com/chiaraferrara/StudioGhibli/blob/9140d4e3e77cdd0f757b9ede021bbbd650e7eada/src/app/img/angular_solidBlack.png?raw=true" style="width: 50px;"></a></div>
  </div>
</div>
