
<aside>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6RxsExIM2y163Iy1Qst36S?utm_source=generator&theme=0" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div class="aside-flexcontainer">
        <div>
            <figure><img src="https://i.pinimg.com/564x/ec/ef/df/ecefdf2e042336d5b96c6452697dfde4.jpg" style="width: 140px; border-radius: 2rem;"></figure>
            <figcaption>il castello errante di howl, 2005</figcaption>
            <p><a href="https://www.youtube.com/watch?v=iwROgK94zcM">Watch Trailer</a></p>
            
        </div>

        <div>
            <figure><img src="https://i.pinimg.com/564x/33/a8/df/33a8df524a27f889be02c7ede55b2045.jpg" style="width: 140px; border-radius: 2rem;"></figure>
            <figcaption>la città incantata, 2003</figcaption>
            <p> <a href="https://www.youtube.com/watch?v=ByXuk9QqQkk">Watch Trailer</a></p>
            
        </div>


    </div>
</aside>