
<aside>
    
    <div class="aside-flexcontainer">
        <div>
            <figure><img src="https://i.pinimg.com/564x/ec/ef/df/ecefdf2e042336d5b96c6452697dfde4.jpg" style="border-radius: 2rem;"></figure>
            <figcaption>il castello errante di howl, 2005</figcaption>
            <p><a href="https://www.youtube.com/watch?v=iwROgK94zcM">Watch Trailer</a></p>
            
        </div>

        <div>
            <figure><img src="https://i.pinimg.com/564x/33/a8/df/33a8df524a27f889be02c7ede55b2045.jpg" style="border-radius: 2rem;"></figure>
            <figcaption>la città incantata, 2003</figcaption>
            <p> <a href="https://www.youtube.com/watch?v=ByXuk9QqQkk">Watch Trailer</a></p>
            
        </div>

        <div>
            <figure><img src="https://i.pinimg.com/564x/f1/84/af/f184affd57c25d538d079b4dfc8ab7fc.jpg" style="border-radius: 2rem;"></figure>
            <figcaption>The Boy and the Heron, 2023</figcaption>
            <p> <a href="https://www.youtube.com/watch?v=UIabnyxTVpc">Watch Trailer</a></p>
            
        </div>

        <div>
            <figure><img src="https://i.pinimg.com/564x/ea/b9/a0/eab9a09ff2270d157511f7e8a3ba201c.jpg" style="border-radius: 2rem;"></figure>
            <figcaption>Porco Rosso, 2010</figcaption>
            <p> <a href="https://www.netflix.com/watch/70019060?source=35">Watch on Netflix</a></p>
            
        </div>
        
    </div>
</aside>