aside{
    margin-top: 2%;
    float:right;
    width: 450px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400&display=swap');

div{
    border: 0px transparent;
    margin: 0;
    width: max-content;
    padding: 0%;
}

.aside-flexcontainer{
    display:flex;
    flex-flow: row wrap;
    width: 100%;
}


figure{
    width: 30%;
    opacity: 60%;
}

figure:hover{
    opacity: 100%;
}

figcaption{
    text-align: center;
    font-size: 12px;
    padding: 0%;
    font-family: 'Martian Mono', monospace;
}

a, a:visited{
    color: black;
    text-decoration: none;
}